{% extends 'base.html' %} {% load static %} {% load custom %} {% block content %}

<div class="row container-fluid">
  {% for message in messages %}
  <div
    class="alert {{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <div class="card p-0">
    <div class="card-body p-3 m-0">
      <div class="row">
        <h1 class="col">Add Stages</h1>
        <!-- Button trigger modal -->
        <button type="button" style="width: fit-content; height: fit-content;" class="col-3 btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#template">
          Template
        </button>

        <!-- Modal -->
        <div class="modal fade" id="template" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="{% url 'app:stage_template' %}" method="post">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Templates</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  <select class="form-select" name="template" aria-label="Default select example">
                    <option value="nan">Select a Menu</option>
                    {% for template in templateablestages %}
                      <option value="{{ template.id }}">{{ template.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <input type="hidden" name='client_id' value="{{ client_id }}">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary ">Try</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <form method="post" action="/stages/{{ client_id }}" onsubmit="submitForm();">
        {% csrf_token %}
        <div class="my-3 row">
          <label for="name" class="fs-4 col-sm-2 col-form-label">Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" value="{{ stage.name }}"/>
          </div>
        </div>
        <div class="my-3 row">
          <label for="order" class="fs-4 col-sm-2 col-form-label">Order</label>
          <div class="col-sm-4">
            <input type="number" min="0" class="form-control" id="order" name="order" value="{{ stage.order }}"/>
          </div>
        </div>
        <div class="my-3 row">
          <label for="description" class="fs-4 col-sm-2 col-form-label">Description</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="description" name="description" value="{{ stage.description }}"/>
          </div>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" {% if stage.templateable %} checked {% endif %} name="templateable" id="templateable">
            <label class="form-check-label" for="templateable">
              Make Template
            </label>
          </div>

        
        
        {% for key, value in fields.items %}
        {% if value == "dropdown" %}
        {% with array=key|split:"," %}
        <div class="my-3 row">
          <input type="text" class=" col-sm-2"  placeholder="Label" name="dynamic_label" value="{{ array.0 }}">
            <div class="col-sm-4">
            <select class="form-select" id="name" name="dynamic_type" value="{{ value }}" onchange="checkSeletcted(this)">
            {% comment %} <option value="button" {% if value == "button" %} selected {% endif %}>button</option> {% endcomment %}
            {% comment %} <option value="color" {% if value == "color" %} selected {% endif %}>color</option> {% endcomment %}
            {% comment %} <option value="datetime-local" {% if value == "datetime-local" %} selected {% endif %}>datetime-local</option> {% endcomment %}
            <option value="text" {% if value == "text" %} selected {% endif %}>text</option>
            <option value="checkbox" {% if value == "checkbox" %} selected {% endif %}>checkbox</option> 
            <option value="date" {% if value == "date" %} selected {% endif %}>date</option>
            <option value="email" {% if value == "email" %} selected {% endif %}>email</option>
            <option value="file" {% if value == "file" %} selected {% endif %}>file</option>
            {% comment %} <option value="image" {% if value == "image" %} selected {% endif %}>image</option> {% endcomment %}
            <option value="month" {% if value == "month" %} selected {% endif %}>month</option> 
            <option value="number" {% if value == "number" %} selected {% endif %}>number</option>
            <option value="password" {% if value == "password" %} selected {% endif %}>password</option>
            <option value="time" {% if value == "time" %} selected {% endif %}>time</option>
            <option value="url" {% if value == "url" %} selected {% endif %}>url</option>
            {% comment %} <option value="radio" {% if value == "radio" %} selected {% endif %}>radio</option> {% endcomment %}
            {% comment %} <option value="range" {% if value == "range" %} selected {% endif %}>range</option> {% endcomment %}
            {% comment %} <option value="week" {% if value == "week" %} selected {% endif %}>week</option> {% endcomment %}
            
            <option value="dropdown" {% if value == "dropdown" %} selected {% endif %} >dropdown</option>
          </select>
        </div>
            <a href="#" class="delete-user-btn col-sm-2" onclick="deleteField(this)">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                </a>    
                {% for option in array %}
                {% if forloop.counter == 1 %}
                {% else %}
                <div class="my-3 row ms-3">
                  <input type="text" class="col-sm-2"  placeholder="Option" name="dynamic_option" value="{{ option }}">
      <a href="#" class="option add-option-btn col-sm-2" onclick="addOption(this)">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-success icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
      </a>
      <a href="#" class="delete-user-btn col-sm-2" onclick="deleteField(this)">
         <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
           </a>    
         </div>
                        {% endif %}
                {% endfor %}


            

          </div> 


{% endwith %}
        {% else %}
        <div class="my-3 row">
          <input type="text" class=" col-sm-2"  placeholder="Label" name="dynamic_label" value="{{ key }}">
            <div class="col-sm-4">
            <select class="form-select" id="name" name="dynamic_type" value="{{ value }}" onchange="checkSeletcted(this)">
            {% comment %} <option value="button" {% if value == "button" %} selected {% endif %}>button</option> {% endcomment %}
            {% comment %} <option value="color" {% if value == "color" %} selected {% endif %}>color</option> {% endcomment %}
            {% comment %} <option value="datetime-local" {% if value == "datetime-local" %} selected {% endif %}>datetime-local</option> {% endcomment %}
            <option value="text" {% if value == "text" %} selected {% endif %}>text</option>
            <option value="checkbox" {% if value == "checkbox" %} selected {% endif %}>checkbox</option> 
            <option value="date" {% if value == "date" %} selected {% endif %}>date</option>
            <option value="email" {% if value == "email" %} selected {% endif %}>email</option>
             <option value="file" {% if value == "file" %} selected {% endif %}>file</option>
            {% comment %} <option value="image" {% if value == "image" %} selected {% endif %}>image</option> {% endcomment %}
            <option value="month" {% if value == "month" %} selected {% endif %}>month</option> 
            <option value="number" {% if value == "number" %} selected {% endif %}>number</option>
            <option value="password" {% if value == "password" %} selected {% endif %}>password</option>
            <option value="time" {% if value == "time" %} selected {% endif %}>time</option>
            <option value="url" {% if value == "url" %} selected {% endif %}>url</option>
            {% comment %} <option value="radio" {% if value == "radio" %} selected {% endif %}>radio</option> {% endcomment %}
            {% comment %} <option value="range" {% if value == "range" %} selected {% endif %}>range</option> {% endcomment %}
            {% comment %} <option value="week" {% if value == "week" %} selected {% endif %}>week</option> {% endcomment %}
            <option value="dropdown" {% if value == "dropdown" %} selected {% endif %} >dropdown</option>
            
          </select>
        </div>
            <a href="#" class="delete-user-btn col-sm-2" onclick="deleteField(this)">
               <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                 </a>    
          </div> 
          {% endif %}
        {% endfor %}


        <div>
          
          <button
            type="button"
            class="btn btn-primary add-field"
            onclick="addField()"
          >
            <i class="bi bi-plus-lg"></i> Add Field
          </button>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block js %}

<script src="{% static 'js/addfield.js'%}"></script>

{% endblock %}
