{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "app:admin" %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">User Management</h5></a>
            </div>
            <div>
              <a href="?page=add" class="btn btn-primary">Add User</a>
            </div>
          </div>
          <div style="overflow-x: auto;">
            <!-- User Table -->
            
            {% if request.GET.page == 'add' %}
              <h3>Add User</h3>
                        <!-- User Addition Form -->
                        <form id="addUserForm" method="post" action="{% url "user:add_user" %}">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" required>
                          </div>
                          <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                          </div>
                          <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="dashboard" name="dashboard" checked>
                            <label class="form-check-label" for="dashboard">Dashboard</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="customer" name="customer" checked>
                            <label class="form-check-label" for="customer">Customer</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="client" name="client" checked>
                            <label class="form-check-label" for="client">Client</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="archive" name="archive" checked>
                            <label class="form-check-label" for="archive">Archive</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="council" name="council" checked>
                            <label class="form-check-label" for="council">Council</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="funding_route" name="funding_route">
                            <label class="form-check-label" for="funding_route">funding_route</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="admin" name="admin">
                            <label class="form-check-label" for="admin">Admin</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="stage" name="stage">
                            <label class="form-check-label" for="stage">Stage</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="product" name="product">
                            <label class="form-check-label" for="product">Product</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="finance" name="finance">
                            <label class="form-check-label" for="finance">Finance</label>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="hr" name="hr">
                            <label class="form-check-label" for="hr">HR</label>
                          </div>
                          <button onclick="loadBtn()" type="submit" class="btn btn-primary">Add User</button>
                        </form>
                        <!-- End User Addition Form -->
                        {% elif request.GET.page == 'edit' %}
                        {% if user %}
                          <!-- User Edit Form -->
                          <button  class="mb-3 btn-outline-info btn">{{user.email}}</button>
                          <form id="editUserForm" method="post" action="{% url 'user:edit_user' user.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="editEmail" class="form-label">Email address</label>
                              <input type="email" value={{user.email}} class="form-control" id="editEmail" name="email" required>
                            </div>
                            <div class="mb-3">
                              <label for="editPassword" class="form-label">Password</label>
                              <input type="password"   class="form-control" id="password" name="password" >
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.dashboard %}checked{% endif %} class="form-check-input" id="editDashboard" name="dashboard" >
                              <label class="form-check-label"  for="editDashboard">Dashboard</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.customer %}checked{% endif %} class="form-check-input" id="editCustomer" name="customer" >
                              <label class="form-check-label"  for="editCustomer">Customer</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.client %}checked{% endif %} class="form-check-input" id="editClient" name="client" >
                              <label class="form-check-label"  for="editClient">Client</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.archive %}checked{% endif %} class="form-check-input" id="editArchive" name="archive" >
                              <label class="form-check-label"  for="editArchive">Archive</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.council %}checked{% endif %} class="form-check-input" id="editCustomer" name="council" >
                              <label class="form-check-label"  for="editCustomer">Council</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.funding_route %}checked{% endif %} class="form-check-input" id="editfunding_route" name="funding_route" >
                              <label class="form-check-label"  for="editouncil">funding_route</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.admin %}checked{% endif %} class="form-check-input" id="editAdmin" name="admin">
                              <label class="form-check-label"  for="editAdmin">Admin</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.stage %}checked{% endif %} class="form-check-input" id="editstage" name="stage">
                              <label class="form-check-label"  for="editstage">Stage</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.product %}checked{% endif %} class="form-check-input" id="editproduct" name="product">
                              <label class="form-check-label"  for="editproduct">product</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.finance %}checked{% endif %} class="form-check-input" id="editFinance"  name="finance" >
                              <label class="form-check-label" for="editFinance">Finance</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" {% if user.hr %}checked{% endif %} class="form-check-input" id="editHr" name="hr">
                              <label class="form-check-label" for="editHr">HR</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Update User</button>
                          </form>
                      <!-- End User Edit Form -->
                      {% else %}
                          <p>User not found.</p>
                        {% endif %}
                      {% else %}
                <table class="table" style="overflow-x: auto;">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Dashboard</th>
                      <th>Customer</th>
                      <th>Client</th>
                      <th>Archive</th>
                      <th>Council</th>
                      <th>funding_route</th>
                      <th>Admin</th>
                      <th>Stage</th>
                      <th>Product</th>
                      <th>Finance</th>
                      <th>HR</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if users %}
                      {% for user in users %}
                        <tr>
                          <td>{{ user.id }}</td>
                          <td>{{ user.username }}</td>
                          <td>{{ user.email }}</td>
                          {% if user.dashboard %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          
                          {% if user.customer %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          
                          
                          
                          {% if user.client %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          
                          
                          {% if user.archive %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          
                          
                          {% if user.council %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          
                          {% if user.funding_route %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}

                          {% if user.admin %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}

                          {% if user.stage %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}

                          {% if user.product %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          {% if user.finance %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          {% if user.hr %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check text-primary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                          </td>
                          {% else %}
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                          </td>
                          {% endif %}
                          <td>
                            <a href="#" class="edit-user-btn" data-user-id="{{ user.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                            </a>
                            <a href="#" class="delete-user-btn" data-user-id="{{ user.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="9" class="text-center">No Users</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
              {% endif %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "app:admin" %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Client Management</h5></a>
            </div>
            <div>
              <a href="?page=add_client" class="btn btn-primary">Add Client</a>
            </div>
          </div>
          <div>
            <!-- User Table -->
            
            {% if request.GET.page == 'add_client' %}
              <h3>Add Client</h3>
                        <!-- User Addition Form -->
                        <form id="addUserForm" method="post" action="{% url "app:add_client" %}">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="name" class="form-label">Client</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                          </div>
                          <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                          <div class="mb-3">
                            <label for="main_contact" class="form-label">Main Contact</label>
                            <input type="text" class="form-control" id="main_contact" name="main_contact" required>
                          </div>
                          <div class="mb-3">
                            <label for="tel" class="form-label">Telephone</label>
                            <input type="text" class="form-control" id="tel" name="telephone" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Add Client</button>
                        </form>
                        <!-- End User Addition Form -->
                        {% elif request.GET.page == 'edit_client' %}
                        {% if client %}
                          <button  class="mb-3 btn-outline-info btn">{{client.name}}</button>
                          <form id="editUserForm" method="post" action="{% url 'app:edit_client' user.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="editFirstName" class="form-label">Client</label>
                              <input type="text" value="{{ client.name }}" class="form-control" id="editFirstName" name="name" required>
                            </div>
                            <div class="mb-3">
                              <label for="email" class="form-label">Email</label>
                              <input type="email" class="form-control" id="email" value="{{client.email}}" name="email" required>
                            </div>
                            <div class="mb-3">
                              <label for="main_contact" class="form-label">Main Contact</label>
                              <input type="text" class="form-control" id="main_contact" value="{{client.main_contact}}" name="main_contact" required>
                            </div>
                            <div class="mb-3">
                              <label for="tel" class="form-label">Telephone</label>
                              <input type="text" class="form-control" id="tel" value="{{client.telephone}}" name="telephone" required>
                            
                            <h5>Campaigns:</h5>
                              <ul>
                                {% for campaign in client.campaigns.all %}
                                  <li class="m-3">
                                    {{ campaign.name }}
                                    <a href="{% url 'app:remove_campaign' campaign.id %}" class="btn btn-danger btn-sm ms-2">Delete</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            <button type="submit" class="btn btn-primary">Update Client</button>
                          </form>
                      <!-- End User Edit Form -->
                      {% else %}
                          <p>Client not found.</p>
                        {% endif %}
                      {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Campaigns</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if clients %}
                      {% for client in clients %}
                        <tr>
                          <td>{{ client.id }}</td>
                          <td>{{ client.name }}</td>
                          <td>
                            {% for campaign in client.campaigns.all %}
                             <b> {{ campaign.name }} </b>
                              {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                          </td>
                          <td>
                            <a href="#" class="edit-client-btn" data-client-id="{{ client.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                            </a>
                            <a href="#" class="delete-client-btn" data-client-id="{{ client.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </a>
                          </td>
                          <td>
                            <button class="btn btn-success add-campaign-btn" data-toggle="modal" data-target="#addCampaignModal" data-client-id="{{ client.id }}">
                              Add Campaign
                            </button>
                          </td>
                        </tr>
                        <div class="modal fade" id="addCampaignModal" tabindex="-1" role="dialog" aria-labelledby="addCampaignModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="addCampaignModalLabel">Add Campaign</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form id="addCampaignForm" method="post" action="{% url 'app:add_campaign' %}">
                                  {% csrf_token %}
                                  <input type="hidden" id="clientId" name="client_id" value="">
                                  <div class="mb-3">
                                    <label for="campaignName" class="form-label">Campaign Name</label>
                                    <input type="text" class="form-control" id="campaignName" name="name" required>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Add Campaign</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
          

                      {% endfor %}
                {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="9" class="text-center">No Clients</td>
                  </tr>
                {% endif %}
              
              </tbody>
            </table>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "app:admin" %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Email Management</h5></a>
            </div>
            <div>
              <a href="?page=add_template" class="btn btn-primary">Add Template</a>
            </div>
          </div>
          <div>
            <!-- User Table -->
            
            {% if request.GET.page == 'add_template' %}
              <h3>Add Template</h3>
                        <!-- User Addition Form -->
                        <form id="addTemplateForm" method="post" action="{% url "app:add_template" %}">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="name" class="form-label">Template</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                          </div>
                          <div class="mb-3">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                          </div>
                          <div class="mb-3">
                            <label for="body" class="form-label">Body</label>
                            <textarea class="form-control" id="body" rows="3" name="body" required></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Add Template</button>
                        </form>
                        <!-- End User Addition Form -->
                        {% elif request.GET.page == 'edit_template' %}
                        {% if email %}
                          <button  class="mb-3 btn-outline-info btn">{{email.name}}</button>
                          <form id="editTemplateForm" method="post" action="{% url 'app:edit_template' email.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="editName" class="form-label">Template</label>
                              <input type="text" value="{{ email.name }}" class="form-control" id="editName" name="name" required>
                            </div>
                            <div class="mb-3">
                              <label for="subject" class="form-label">Subject</label>
                              <input type="text" class="form-control" id="subject" value="{{email.subject}}" name="subject" required>
                            </div>
                            <div class="mb-3">
                              <label for="body" class="form-label">Body</label>
                              <textarea class="form-control" id="body" rows="3" name="body" required>{{email.body}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Template</button>
                          </form>
                      <!-- End User Edit Form -->
                      {% else %}
                          <p>Template not found.</p>
                        {% endif %}
                      {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Subject</th>
                      <th>Body</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if emails %}
                      {% for email in emails %}
                        <tr>
                          <td>{{ email.id }}</td>
                          <td>{{ email.name }}</td>
                          <td>
                            {{ email.subject }}
                          </td>
                          <td>
                            {{ email.body|truncatechars:50 }}
                          </td>
                          <td>
                            <a href="?page=edit_template&id={{ email.id }}" class="edit-template-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                            </a>
                            <a href="{% url 'app:remove_template' email.id %}" class="delete-template-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </a>
                          </td>
                        </tr>
          

                      {% endfor %}
                {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="9" class="text-center">No Templates</td>
                  </tr>
                {% endif %}
              
              </tbody>
            </table>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "app:admin" %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Reason Management</h5></a>
            </div>
            <div>
              <a href="?page=add_reason" class="btn btn-primary">Add Reason</a>
            </div>
          </div>
          <div>
            <!-- User Table -->
            
            {% if request.GET.page == 'add_reason' %}
              <h3>Add Reason</h3>
                        <!-- User Addition Form -->
                        <form id="addReasonForm" method="post" action="{% url "app:add_reason" %}">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                          </div>
                          <div class="mb-3">
                            <label for="reason" class="form-label">Reason</label>
                            <textarea class="form-control" id="reason" rows="3" name="reason" required></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Add Reason</button>
                        </form>
                        <!-- End User Addition Form -->
                        {% elif request.GET.page == 'edit_reason' %}
                        {% if reason %}
                          <button  class="mb-3 btn-outline-info btn">{{reason.name}}</button>
                          <form id="editReasonForm" method="post" action="{% url 'app:edit_reason' reason.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="editName" class="form-label">Name</label>
                              <input type="text" value="{{ reason.name }}" class="form-control" id="editName" name="name" required>
                            </div>
                            <div class="mb-3">
                              <label for="reason" class="form-label">Reason</label>
                              <textarea class="form-control" id="reason" rows="3" name="reason" required>{{reason.reason}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Reason</button>
                          </form>
                      <!-- End User Edit Form -->
                      {% else %}
                          <p>Reason not found.</p>
                        {% endif %}
                      {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Reason</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if reasons %}
                      {% for reason in reasons %}
                        <tr>
                          <td>{{ reason.id }}</td>
                          <td>{{ reason.name }}</td>
                          <td>
                            {{ reason.reason|truncatechars:50 }}
                          </td>
                          <td>
                            <a href="?page=edit_reason&id={{ reason.id }}" class="edit-reason-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                            </a>
                            <a href="{% url 'app:remove_reason' reason.id %}" class="delete-reason-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </a>
                          </td>
                        </tr>
          

                      {% endfor %}
                {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="9" class="text-center">No Reason</td>
                  </tr>
                {% endif %}
              
              </tbody>
            </table>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url 'app:admin' %}"> <h5 class="card-title fw-semibold text-primary text-decoration-underline">Signature Management</h5></a>
            </div>
            <div>
              <a href="?page=add_signature" class="btn btn-primary">Add Signature</a>
            </div>
          </div>
          <div>
            <!-- User Table -->
            
            {% if request.GET.page == 'add_signature' %}
              <h3>Add Signature</h3>
                        <!-- User Addition Form -->
                        <form id="addSignatureForm" method="post" action="{% url "app:add_signature" %}" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div class="mb-3">
                              <label for="signature" class="form-label">Signature</label>
                              <textarea class="form-control" id="signature" rows="3" name="signature" required></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="formFile" class="form-label">Signature Image</label>
                              <input type="file" id="formFile" name="signature_img" class="form-control" >
                            </div>
                          <button type="submit" class="btn btn-primary">Add Signature</button>
                        </form>
                        <!-- End User Addition Form -->
                        {% elif request.GET.page == 'edit_signature' %}
                        {% if signature %}
                          <button  class="mb-3 btn-outline-info btn">{{signature.signature}}</button>
                          <form id="editSignatureForm" method="post" action="{% url 'app:edit_signature' signature.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label for="signature" class="form-label">Signature</label>
                              <textarea class="form-control" id="signature" rows="3" name="signature" required>{{signature.signature}}</textarea>
                            </div>
                            <div class="mb-3">
                              <label for="formFile" class="form-label">Signature Image</label>
                              <input type="file" id="formFile" name="signature_img" class="form-control" >
                            </div>
                            <button type="submit" class="btn btn-primary">Update Signature</button>
                          </form>
                      <!-- End User Edit Form -->
                      {% else %}
                          <p>Signature not found.</p>
                        {% endif %}
                      {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Signature</th>
                      <th>Signature Image</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if signatures %}
                      {% for signature in signatures %}
                        <tr>
                          <td>{{ signature.id }}</td>
                          <td>
                            {% if signature.signature %}
                            {{ signature.signature|truncatechars:50 }}
                            {% endif %}
                          </td>

                          <td>
                            {% if signature.signature_img %}
                            <a href="{{ signature.signature_img.url }}">Image</a>
                            {% endif %}
                          </td>
                          <td>
                            <a href="?page=edit_signature&id={{ signature.id }}" class="edit-signature-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                            </a>
                            <a href="{% url 'app:remove_signature' signature.id %}" class="delete-reason-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </a>
                          </td>
                        </tr>
          

                      {% endfor %}
                {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="9" class="text-center">No Signature</td>
                  </tr>
                {% endif %}
              
              </tbody>
            </table>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.edit-user-btn');
    editButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const userId = button.getAttribute('data-user-id');
        window.location.href = `?page=edit&id=${userId}`;
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.edit-client-btn');
    editButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const clientId = button.getAttribute('data-client-id');
        window.location.href = `?page=edit_client&id=${clientId}`;
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.delete-user-btn');
    deleteButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const userId = button.getAttribute('data-user-id');
        const confirmDelete = confirm('Are you sure you want to delete this user?');

        if (confirmDelete) {
          // Redirect to the delete URL if the user confirms
          window.location.href = `user/remove_user/${userId}`;
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.delete-client-btn');
    deleteButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        const clientId = button.getAttribute('data-client-id');
        const confirmDelete = confirm('Are you sure you want to delete this client?');

        if (confirmDelete) {
          window.location.href = `remove_client/${clientId}`;
        }
      });
    });
  });
  function loadBtn(e){
    e.disabled = true
    e.innerHTML = 'Loading...'
    document.getElementById('addUserForm').submit()
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    $('.add-campaign-btn').on('click', function() {
      var clientId = $(this).data('client-id');
      $('#clientId').val(clientId);
    });
  });
</script>

  {% endblock content %}