{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row container-fluid">
  {% for message in messages %}
  <div
    class="alert {{ message.tags }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <div class="container-fluid pt-4">
    <div class="card p-0">
      <div class="card-body p-3 m-0">
        <h5 class="card-title">Customer Journey - {{ product.route.all.0.name }} - {{ product.name }}</h5>
        <div
          class="d-sm-flex d-block align-items-center justify-content-between mb-9"
        >
          <div class="mb-3 mb-sm-0">
            <a href="{% url 'app:funding_route' %}">
              <h5
                class="card-title fw-semibold text-primary text-decoration-underline"
              >
                Customer Journey Management
              </h5></a
            >
          </div>
          <div>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStage">
              Add Stage
            </button>

            <div class="modal fade" id="addStage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{% url 'app:cj_product' product.route.all.0.id product.id %}" method="post">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Stage</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% csrf_token %}
                    <select class="form-select" name="stage" aria-label="Default select example">
                      {% for stage in stages %}
                        <option value="{{stage.id}}">{{stage.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Submit</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="overflow-x: auto">
          <table class="table" style="overflow-x: auto">
            <thead>
              <tr>
                <th>Stage</th>
              </tr>
            </thead>
            <tbody>
              {% if product.stage.all %} {% for stage in product.stage.all %}
              <tr>
                <td>
                  <a href="{% url 'app:cj_stage' product.route.all.0.id product.id stage.id %}">
                  {{ stage.name }} </a>
                </td>
              </tr>
              {% endfor %} {% else %}
              <tr
                class="text-center display-flex align-items-center justify-content-center"
              >
                <td colspan="9" class="text-center">No Stages</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
