{% extends 'base.html' %} {% load static %} {% load custom %} {% block css %}

<style>

 

li.list-group-item{
  background-color: #004652;
  color: #fff;
}

.delete{
  cursor: pointer;
}

label.add{
  margin-bottom: 15px;
}

.filtred{
  display: none !important;
}


.tooltipbas {
  position: relative;
  display: inline-block;
}

.tooltipbas .tooltiptextbas {
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1000;
  width: 320px;
  top: 100%;
  left: 0%;
  transition: 0.3s;
}

.tooltipbas:hover .tooltiptextbas, .tooltiptextbas:hover {
  display: block;
}

#myChart{
    width: 45% !important;
    height: 70% !important;
}


</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

{% endblock %} {% block content %}

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="row container-fluid ">

  <div class="card mb-3" >
    <div class="card-body pb-0 row">
      <div class="col">
        <div class="row">
          <div class="row pb-3" style="border-bottom: 2px solid #91E0DA;">
            {% comment %} <div class="cnav-item col-1 position-absolute" style="left:-0px; top:8px;">
              <a href="/suggition-detail/{{prev}}" >
                <i class="bx bx-left-arrow my-4 fs-6"></i>
              </a>
            </div> {% endcomment %}

            <div class="col-5">
              <h3>Suggestion</h3>
            </div>

            <div class="col-3">
              <h5 class="col">Assigned To: 
                  <div class="mt-1 link-primary" id="assigned_to">
                    {% if suggestion.assigned_to %}
                     {{ suggestion.assigned_to.first_name }} {{ suggestion.assigned_to.last_name }}

                    {% else %}
                      Unassigned
                    {% endif %}
                  </div>
                  <div class="d-grid gap-2 d-md-block">
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="assigned_to_modal" data-bs-backdrop="static" data-bs-keyboard="false"
                      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Change the Agent</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form method='post' action="{% url 'app:assign_agent'  %}">
                            {% csrf_token %}
                            <div class="modal-body">
                              <input type"text" hidden value="{{ suggestion.id }}" name="suggestion_id">
                              <select class="form-select" aria-label="Default select example" name="agent_id">
                                {% for agent in agents %}
                                <option value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="reform_btn">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </h5>
            </div>

            <div class="col-3">

              <button type="button" class="link-primary" style="border: none; background-color: transparent;" data-bs-toggle="modal"
                data-bs-target="#merge">Merge Suggestions</button>
              
              <div class="modal fade" id="merge" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Merge Suggestions</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'app:merge_suggestions' suggestion.id %}" method="post">
                      <div class="modal-body">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="type" class="form-label">Suggestion</label>
                          <select class="form-select" name="merge_suggestion">
                            {% for merge_suggestion in merge_suggestions %}
                              <option value="{{ merge_suggestion.id }}">{{ merge_suggestion.type }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                        <button class="reform_btn">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
            
            <div class="col-1">
              <button class="col-1" style="border: none; background-color: transparent;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="28"
                  height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                  <path d="M13.5 6.5l4 4" />
                </svg>
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Sub Tasks</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'app:edit_suggestion' suggestion.id %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="location" class="form-label">Tab</label>
                          <input type="text" class="form-control" id="location" name="location" value="{{ suggestion.location }}">
                        </div>
                        <div class="mb-3">
                          <label for="type" class="form-label">What type of issue?</label>
                          <input type="text" class="form-control" id="type" name="type" value="{{ suggestion.type }}">
                        </div>
                        <div class="mb-3">
                          <label for="expected_completion_date" class="form-label">Set expected completion date</label>
                          <input type="date" class="form-control" id="expected_completion_date" name="expected_completion_date" value="{{ formatted_date }}">
                        </div>
                        <div class="mb-3">
                          <label for="type" class="form-label">The status of suggestion?</label>
                          <select class="form-select" name="status">
                            <option {% if suggestion.status == "New" %} selected {% endif %} value="New">New</option>
                            <option {% if suggestion.status == "Not Started" %} selected {% endif %} value="Not Started">Not Started</option>
                            <option {% if suggestion.status == "In Progress" %} selected {% endif %} value="In Progress">In Progress</option>
                            <option {% if suggestion.status == "Complete" %} selected {% endif %} value="Complete">Complete</option>
                            <option {% if suggestion.status == "Paused" %} selected {% endif %} value="Paused">Paused</option>
                            <option {% if suggestion.status == "Rejected" %} selected {% endif %} value="Rejected">Rejected</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label">Please decribe the issue</label>
                          <input type="text" class="form-control" id="description" name="description" value="{{ suggestion.description }}">
                        </div>
                        <div class="mb-3">
                          <label for="file" class="form-label">Upload file</label>
                          <input type="file" class="form-control" id="file" name="file">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                        <button class="reform_btn">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="row mt-4">
            <div class="col-sm-4 mb-sm-0 px-2">
              <div class="card">
                <div class="card-body py-3" style="height:150px">
                  <h6><b> Suggestion: </b> {{ suggestion.type }}</h6>
                  <h6><b> Description: </b> {{ suggestion.description|truncatechars:200 }}</h6>
                  <h6><b> Tab: </b> {{ suggestion.location }}</h6>
                  <h6><b> File: </b> {% if suggestion.file %}
                    <a href="{{ suggestion.file.url }}" target="_blank">View</a>
                    {% else %}
                    No File
                    {% endif %}
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mb-sm-0 px-2">
              <div class="card">
                <div class="card-body py-3" style="height:150px">
                  <h6><b> Date: </b> {{ suggestion.created_at }}</h6>
                  <h6><b> Status: </b> {{ suggestion.status }}</h6>
                  <h6><b> Additional requesters: </b>
                    {% if suggestion.aditional_requesters %}
                    {% for requester in suggestion.aditional_requesters.all %}
                    {{ requester.first_name }} {{ requester.last_name }}
                    {% endfor %}
                    {% else %}
                    No Requesters
                    {% endif %}
                  </h6>
                  <h6><b> Requested: </b> {% if suggestion.requested %} {{ suggestion.requested }} {% else %} 0 {% endif %} </h6>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mb-sm-0 px-2 d-flex flex-column">
              <canvas id="myChart" class="align-self-center"></canvas>
            </div>
          </div>
        </div>
      </div>
      
      {% comment %} <div class="cnav-item fs-6 col-1 position-absolute" style="right:-30px; top:8px;">
         <a href="/suggition-detail/{{next}}"><i class="bx bx-right-arrow my-4 fs-6"></i></a>
      </div> {% endcomment %}
    </div>
  </div>
</div>


<div class="row  container-fluid">
<div class="container-fluid pt-4">
  <div class="row">

    <div class="card py-3 d-flex">
      <div class="card-body p-3 pb-0 m-0 row">
        <div class="col-6">
          <div class="card py-3 d-flex">
            <div class="card-body p-3 pb-0 m-0 row " style="height: 250px; overflow-y:auto;">
              <div class="row">
                <h4 class="card-title col-11">Sub Tasks</h4>
                <button class="col-1" style="border: none; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#edit_sub_suggestion">
                  <svg xmlns="http://www.w3.org/2000/svg" class="text-warning icon icon-tabler icon-tabler-pencil" width="28"
                    height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                    <path d="M13.5 6.5l4 4" />
                  </svg>
                </button>
                <div class="modal fade" id="edit_sub_suggestion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Sub Tasks</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{% url 'app:add_sub_suggestion' suggestion.id %}" method="post">
                        {% csrf_token %}
                      <div class="modal-body">
                        <ul class="list-group todos mx-auto text-light">
                          {% for sub_suggestion in sub_suggestions %}
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="width:300px"> <div class="tooltipbas me-2"> {{ sub_suggestion.description|truncatechars:20 }}
                              <span class="tooltiptextbas p-3">{{ sub_suggestion.description }}</span>
                            </div> </span>

                            <button class="delete-btn" data-delete-btn="{{ sub_suggestion.id }}" style="border: none; background-color: transparent; color:#fff"><i class="far fa-trash-alt delete" ></i></button>
                          </li>
                          {% endfor %}
                        </ul>
                        
                        <div class="add text-center my-4">
                          <label for="add" class="add text-dark">Add a new suggestion:</label>
                          <div class="row mx-1 input-group">
                            <input type="text" class="form-control m-auto form col" name="add" id="add">
                            <button class="btn btn-primary col-2 addSub" type="button" style="width: fit-content;">Add</button>

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="reform_btn" onclick="print_data()">Submit</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table">
                <tbody id="myTable">
                {% if sub_suggestions %}
                  {% for sub_suggestion in sub_suggestions %}
                  <tr>
                    <td><div class="tooltipbas me-2"> {{ sub_suggestion.description|truncatechars:20 }}
                      <span class="tooltiptextbas p-3">{{ sub_suggestion.description }}</span>
                    </div></td>
                    <td>
                      <button style="border: none; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#sub_suggestion_status{{ forloop.counter }}">{{ sub_suggestion.status }}</button>

                      <div class="modal fade" id="sub_suggestion_status{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Change status</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'app:change_sub_suggestion_status' sub_suggestion.id %}" method="post">
                              {% csrf_token %}
                              <div class="modal-body">
                                <div class="mb-3">
                                  <label for="type" class="form-label">The status of sub suggestion?</label>
                                  <select class="form-select" name="status">
                                    <option {% if sub_suggestion.status == "New" %} selected {% endif %} value="New">New</option>
                                    <option {% if sub_suggestion.status == "Not Started" %} selected {% endif %} value="Not Started">Not Started</option>
                                    <option {% if sub_suggestion.status == "In Progress" %} selected {% endif %} value="In Progress">In Progress</option>
                                    <option {% if sub_suggestion.status == "Complete" %} selected {% endif %} value="Complete">Complete</option>
                                    <option {% if sub_suggestion.status == "Paused" %} selected {% endif %} value="Paused">Paused</option>
                                    <option {% if sub_suggestion.status == "Rejected" %} selected {% endif %} value="Rejected">Rejected</option>
                                  </select>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                                <button class="reform_btn">Submit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button type="button" style="border: none; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#sub_suggestion_assigned_to{{ forloop.counter }}">{{ sub_suggestion.assigned_to.first_name }} {{ sub_suggestion.assigned_to.last_name }}</button>

                      <div class="modal fade" id="sub_suggestion_assigned_to{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Change agent</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'app:change_sub_suggestion_agent' sub_suggestion.id %}" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="mb-3">
                                  <label for="type" class="form-label">The agent of sub suggestion?</label>
                                  <select class="form-select" name="agent">
                                    {% for agent in agents %}
                                    <option {% if sub_suggestion.assigned_to == agent %} selected {% endif %} value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                                <button class="reform_btn">Submit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr class="text-center display-flex align-items-center justify-content-center">
                    <td colspan="6" class="text-center">No Sub Tasks</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card py-3 d-flex">
            <h4 class="card-title ms-4">Notes</h4>
            <div class="card-body p-3 pb-0 m-0 row" style="height: 220px; overflow-y:auto;  display: flex; flex-direction: column-reverse;">
              <ul class="ps-3">
                {% for key,value in events.items %}
                  <li><b>{{ key }}</b></li>
                  <ul class="ps-3">
                    {% for v in value %}
                      <li class="mb-2">
                        <div class="tooltipbas me-2"> <b>{{ v.0 }}</b> - {{ v.1 }} {{ v.2 }}:{{ v.3|truncatechars:40 }}
                          <span class="tooltiptextbas"> {{ v.3 }}
                          </span>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            </div>
            <form action="{% url 'app:add_comment' suggestion.id %}" method="post">
              {% csrf_token %}
              <div class="input-group m-3" style="width: 95%;">
                <input type="text" class="form-control" placeholder="Add a Comment" aria-label="Add a Comment" aria-describedby="button-addon2" name="comment">
                <button class="btn btn-outline-primary" id="button-addon2"><i class="bi bi-send"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    
{% endblock %} {% block js %}
<script>
  document.addEventListener("DOMContentLoaded", () => {

    

    const addForm = document.querySelector(".form");
    const ul = document.querySelector("ul.todos");

    const handleAddItem = (inputValue) => {
      const html = `
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>${inputValue}</span>
          <input type="hidden" name="suggestion" value="${inputValue}">
          <div><i class="far fa-trash-alt delete"></i></div>
        </li>
      `;
      ul.innerHTML += html;
    };

    addForm.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        e.preventDefault();
        const inputValue = addForm.value.trim();
        if (inputValue.length) handleAddItem(inputValue);
        addForm.value = "";
      } else if (/^[a-zA-Z0-9\s]$/.test(e.key)) {
      } else {
        return;
      }
    });

    function handleAddSubSuggestions() {
      const inputValue = addForm.value.trim(); 
      if (inputValue.length) handleAddItem(inputValue); 
      addForm.value = "";
    }

    const addSub = document.querySelector(".addSub");
    addSub.addEventListener("click", handleAddSubSuggestions);



    ul.addEventListener("click", (e) => {
      if (e.target.classList.contains("delete")) {
        e.target.parentElement.parentElement.remove();
      }
    });
  });

  const deleteBtns = document.querySelectorAll(".delete-btn");
  deleteBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const id = btn.getAttribute('data-delete-btn');
      fetch(`/delete_sub_suggestion/${id}`)
    });
  });

  document.getElementById('assigned_to').addEventListener('click',()=>{
    let assigned_to_modal = new bootstrap.Modal(
          document.getElementById("assigned_to_modal"),
          {}
        );
        assigned_to_modal.show();
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

  const ctx = document.getElementById('myChart');


  const currentNums = {{ length_completed_sub_suggestions }};
  const totalNums = {{ length_sub_suggestions }};
  const remaining = totalNums - currentNums;
  console.log(currentNums, totalNums, remaining);
  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Completed', 'Remaining'],
      datasets: [{
        data: [currentNums, remaining], borderWidth: 1
      }]
    },
    options: {
      cutout: '85%'
    }
  });

</script>

{% endblock %}