{% extends "base.html" %} {% load static %} {% load custom %} {% block css %}

  <style>

    svg{
      cursor: pointer;
    }
.container{
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 435px;
    margin: auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header-section{
    padding: 25px 0px;
}
.header-section h1{
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #707EA0;
    margin: 0px;
    margin-bottom: 8px;
}
.header-section p{
    margin: 5px;
    font-size: 0.95rem;
    color: #707EA0;
}

.drop-section{
    min-height: 250px;
    border: 1px dashed #A8B3E3;
    background-image: linear-gradient(180deg, white, #F1F6FF);
    margin: 5px 35px 35px 35px;
    border-radius: 12px;
    position: relative;
}
.drop-section div.col:first-child{
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transform: scale(1);
    width: 200px;
    margin: auto;
}
.drop-section div.col:last-child{
    font-size: 40px;
    font-weight: 700;
    color: #c0cae1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 200px;
    height: 55px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.2s;
}
/* we will use "drag-over-effect" class in js */
.drag-over-effect div.col:first-child{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
}
.drag-over-effect div.col:last-child{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.drop-section .cloud-icon{
    margin-top: 25px;
    margin-bottom: 20px;
}
.drop-section span,
.drop-section button{
    display: block;
    margin: auto;
    color: #707EA0;
    margin-bottom: 10px;
}
.drop-section button{
    color: white;
    background-color: #5874C6;
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.drop-section input{
    display: none;
}

.list-section{
    display: none;
    text-align: left;
    margin: 0px 35px;
    padding-bottom: 20px;
}
.list-section .list-title{
    font-size: 0.95rem;
    color: #707EA0;
}
.list-section li{
    display: flex;
    margin: 15px 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 8px;
    transition-duration: 0.2s;
}
.list-section li:hover{
    box-shadow: #E3EAF9 0px 0px 4px 0px, #E3EAF9 0px 12px 16px 0px;
}
.list-section li .col{
    flex: .1;
}
.list-section li .col:nth-child(1){
    flex: .15;
    text-align: center;
}
.list-section li .col:nth-child(2){
    flex: .75;
    text-align: left;
    font-size: 0.9rem;
    color: #3e4046;
    padding: 8px 10px;
}
.list-section li .col:nth-child(2) div.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
}
.list-section li .col .file-name span{
    color: #707EA0;
    float: right;
}
.list-section li .file-progress{
    width: 100%;
    height: 5px;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #dee6fd;
}
.list-section li .file-progress span{
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #6b99fd, #9385ff);
    transition-duration: 0.4s;
}
.list-section li .col .file-size{
    font-size: 0.75rem;
    margin-top: 3px;
    color: #707EA0;
}
.list-section li .col svg.cross,
.list-section li .col svg.tick{
    fill: #8694d2;
    background-color: #dee6fd;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.list-section li .col svg.tick{
    fill: #50a156;
    background-color: transparent;
}
.list-section li.complete span,
.list-section li.complete .file-progress,
.list-section li.complete svg.cross{
    display: none;
}
.list-section li.in-prog .file-size,
.list-section li.in-prog svg.tick{
    display: none;
}

  </style>

{% endblock %} {% block content %}

<div class="container-fluid" style="max-width: 1500px">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
          {% for message in messages %}
          <div
            class="alert {{ message.tags }} alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}

          <div
            class="d-sm-flex d-block align-items-center justify-content-between mb-9"
          >
            <div class="mb-3 mb-sm-0">
              <a href="{% url 'app:edit_product' product.id %}">
                <h5
                  class="card-title fw-semibold text-primary text-decoration-underline"
                >
                  Edit Product
                </h5></a
              >
            </div>
          </div>
          <div>
            <form
              name="addClientForm"
              id="addClientForm"
              method="post"
              action="{% url 'app:edit_product' product.id %} "
            >
              {% csrf_token %}

              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  value="{{ product.name }}"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  value="{{ product.description }}"
                  required
                />
              </div>

              <div class="mb-3">
            <label for="formFile" class="form-label">Route Documentation</label>
            <div class="container">
              <div class="header-section">
                  <h1>Upload Files</h1>
                  <p>PDF files are only allowed.</p>
              </div>
              <div class="drop-section">
                  <div class="col">
                      <div class="cloud-icon">
                          <img width="100px" src="{% static "assets/img/pdf.png" %}" alt="cloud">
                          
                      </div>
                      <span>Drag & Drop your files here</span>
                      <span>OR</span>
                      <button type="button" class="file-selector">Browse Files</button>
                      <input type="file" id="formFile" name="document" accept="application/pdf" class="from-input file-selector-input" multiple>
                  </div>
                  <div class="col">
                      <div class="drop-here">Drop Here</div>
                  </div>
              </div>
              <div class="list-section">
                  <div class="list-title">Uploaded Files</div>
                  <div class="list"></div>
              </div>
              {% for link in product.documents.all %}
                <div class="row">
                  <b><a href="{{ link.document.url }}" target="_blank">Document {{ forloop.counter }} </a></b>
                </div>
              {% endfor %}
          </div>

              <div class="mb-3" style="margin-top: 50px;">
                <label for="rules_regulations" class="form-label"
                  >Rules & Regulations</label
                >
                <div class="mb-3 col">
                  {% for a,b in saved_rules_regulations.items %}
                    <div class="my-3 row">
                      <div class="row">
                      <select class="form-select col" id="name" name="dynamicStage" onchange="checkStageSeletcted(this)">
                        <option value="nan"> Select a Stage </option>
                        {% with stage=b.0|split:',' %}
                        {% for key,value in fields.items %}
                          <option value="{{ key }},{{value}}" {% if key == stage.0 %} selected {% endif %} > {{ key }} </option>
                        {% endfor %}
                        {% endwith %}
                      </select>
                      <a href="#" class="delete-user-btn col" onclick="deleteField(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                      </a>
                      </div>
                      <div class="my-3 row">
                        <div class="row mt-3 ms-3">
                          <select class="form-select col stage-fields" id="name" name="dynamicField" onchange="checkFieldSelected(this)">  
                            <option value="nan"> Select a field </option>
                            {% with stages=b.0|firstsplitconvert:',' %}
                            {% with field=b.1|firstsplit:',' %}
                            {% for key,value in stages.items%}
                              {% if value == 'dropdown' %}
                              {% with keys=key|firstsplit:',' %}
                              
                              <option {% if field.0 == keys.0 %} selected {% endif %} value="{{ keys.0 }},{{value}},{{ keys.1 }}"> {{keys.0}} </option> 
                              {% endwith %}
                              {% else %}
                              <option {% if field.0 == key %} selected {% endif %} value="{{ key }},{{value}}"> {{key}} </option> 
                              {% endif %}
                              {% endfor %}
                              {% endwith %}
                            {% endwith %}
                          </select>
                          <a href="#" class="delete-user-btn col" onclick="deleteField(this)">
                           <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                          </a>
                          <div class="my-3 row">
                            {% with fieldvalue=b.1|firstsplit:',' %}
                              {% with field=fieldvalue.1|firstsplit:',' %}
                                {% if field.1 %}
                                {% with options=field.1|split:',' %}
                                  <div class="col-6 rules mt-3 ms-3">
                                    <select class="form-select" id="name" name="dynamicRule">
                                      <option value="nan"> Select a Rule </option>
                                      {% for option in options %}
                                        <option value="{{ option }}" {% if b.2 == option %} selected {% endif %}> {{ option }} </option>
                                      
                                      {% endfor %}
                                    </select>
                                  </div>
                                {% endwith %}
                                {% else %}
                                  {% if field.0 == "text" or field.0 == "email" or field.0 == "password" or field.0 == "url" %}
                                    <div class="col-6 rules mt-3 ms-3">
                                      <input type="{{field.0}}" name="dynamicRule" class="form-control " value="{{ b.2 }}" placeholder="Enter The Value">
                                    </div>
                                  {% elif field.0 == "checkbox" %}
                                    <div class="col-6 rules mt-3 ms-3">
                                      <input type="{{field.0}}" {% if b.2 == 'on' %} checked {% endif %} name="dynamicRule" class="form-check-input " placeholder="Enter The Value"> <label for="checkbox">Check Box</label>
                                    </div>
                                  {% elif field.0 == "date" or field.0 == "time" or field.0 == "month" or field.0 == "number" %}
                                  {% with options=b.2|split:',' %}
                                  <div class="col-6 rules mt-3 ms-3">
                                    <div class="form-check">
                                      <input {% if options.1 == 'Less Than' %} checked {% endif %} name="{{ forloop.counter }}checkboxinput" type="radio" id="{{ forloop.counter }}Less" class="form-check-input " placeholder="Enter The Value" value="Less Than"> <label for="{{ forloop.counter }}Less">Less Than</label>
                                    </div>
                                    <div class="form-check">
                                      <input {% if options.1 == 'Greater Than' %} checked {% endif %} name="{{ forloop.counter }}checkboxinput" type="radio" id="{{ forloop.counter }}Greater" class="form-check-input " placeholder="Enter The Value" value="Greater Than"> <label for="{{ forloop.counter }}Greater">Greater Than</label>
                                    </div>
                                    <div class="form-check">
                                      <input {% if options.1 == 'Equal' %} checked {% endif %} name="{{ forloop.counter }}checkboxinput" type="radio" id="{{ forloop.counter }}Equal" class="form-check-input " placeholder="Enter The Value" value="Equal"> <label for="{{ forloop.counter }}Equal">Equal</label>
                                    </div>
                                    <input type="{{ field.0 }}" value="{{ options.0 }}" class="form-control checkboxinput" placeholder="Enter The Value">
                                    <input name="dynamicRule" type="hidden">
                                  </div>
                                  {% endwith %}
                                  {% endif %}
                                {% endif %}
                              {% endwith %}
                            {% endwith %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <button
                    type="button"
                    class="btn btn-primary add-field"
                    onclick="addRule()"
                  >
                    <i class="bi bi-plus-lg"></i> Add Rule
                  </button>
                </div>
              </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}  {% block js %}

<script>

  let radioGroupCounter = 0;


  function addRule() {
    const addField = document.querySelector(".add-field");

    const newField = document.createElement("div");

    newField.classList.add("my-3", "row");
    newField.innerHTML = `
        <div class="row">
          <select class="form-select col" id="name" name="dynamicStage" onchange="checkStageSeletcted(this)">
            <option value="nan"> Select a Stage </option>
            {% for key,value in fields.items %}
              <option value="{{ key }},{{value}}"> {{ key }} </option>
            {% endfor %}
          </select>
          <a href="#" class="delete-user-btn col" onclick="deleteField(this)">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
          </a>

        </div>
      `;

    addField.parentElement.insertAdjacentElement("beforeBegin", newField);
  }

  function deleteField(e) {
    e.parentElement.parentElement.remove();
  }

  function checkStageSeletcted(e) {
    const stage = e.parentElement;
    const fields = stage.querySelector(".stage-fields");
    if (fields) {
      fields.parentElement.parentElement.remove();
    }
    const stagefields = JSON.parse(
      e.value.split(/,(.+)/)[1].replace(/'/g, '"')
    );
    var options = '<option value="nan"> Select a field </option>';
    for (let key in stagefields) {
      if (stagefields.hasOwnProperty(key)) {
        if (stagefields[key] == "dropdown") {
          options += `<option value="${key.split(/,(.+)/)[0]},${
            stagefields[key]
          },${key.split(/,(.+)/)[1]}"> ${key.split(/,(.+)/)[0]} </option>`;
        } else {
          options += `<option value="${key},${stagefields[key]}"> ${key} </option>`;
        }
      }
    }

    let selected = e.value;
    
    const stageField = document.createElement("div");
    stageField.classList.add("my-3", "row");
    stageField.innerHTML = `
        <div class="row mt-3 ms-3">
            <select class="form-select col stage-fields" id="name" name="dynamicField" onchange="checkFieldSelected(this)">  
              ${options}
            
        </select>
        <a href="#" class="delete-user-btn col" onclick="deleteField(this)">
         <svg xmlns="http://www.w3.org/2000/svg" class="text-danger icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
          </a>
           </div>
      `;

    stage.insertAdjacentElement("beforeEnd", stageField);
  }

  function checkFieldSelected(e) {
    const field = e.parentElement;
    console.log(e.value)
    const type = e.value.split(/,(.+)/)[1];
    const rules = field.querySelector(".rules");
    if (rules) {
      rules.parentElement.remove();
    }
    if (type.split(/,(.+)/)[1]) {
      const optionsValues = type.split(/,(.+)/)[1].split(",");
      var options = '';
      for (let i = 0; i < optionsValues.length; i++) {
        options += `<option value="${optionsValues[i]}"> ${optionsValues[i]} </option>`;
      }
      const rule = document.createElement("div");
      rule.classList.add("my-3", "row");
      rule.innerHTML = `
          <div class="col-6 rules mt-3 ms-3">
            <select class="form-select" id="name" name="dynamicRule">
              <option value="nan"> Select a Rule </option>
              ${options}
            </select>
          </div>
        `;
      field.insertAdjacentElement("beforeEnd", rule);
    } else {
      if (
        type === "text" ||
        type === "email" ||
        type === "password" ||
        type === "url"
      ) {
        const rule = document.createElement("div");
        rule.classList.add("my-3", "row");
        rule.innerHTML = `        
            <div class="col-6 rules mt-3 ms-3">
              <input type="${type}" name="dynamicRule" class="form-control " placeholder="Enter The Value">
            </div>
          `;
        field.insertAdjacentElement("beforeEnd", rule);
      } else if ( type === "checkbox") {
        const rule = document.createElement("div");
        rule.classList.add("my-3", "row");
        rule.innerHTML = `        
            <div class="col-6 rules mt-3 ms-3">
              <input type="${type}" name="dynamicRule" class="form-check-input " placeholder="Enter The Value"> <label for="checkbox">Check Box</label>
            </div>
          `;
        field.insertAdjacentElement("beforeEnd", rule);

      } else if (type === "date" || type === "time" || type === "month" || type === "number"){
        radioGroupCounter++;
        console.log(radioGroupCounter)
        const rule = document.createElement("div");
        rule.classList.add("my-3", "row");
        rule.innerHTML = `
            <div class="col-6 rules mt-3 ms-3">
              <div class="form-check">
                <input name="checkboxinput${radioGroupCounter}" type="radio" id="Less${radioGroupCounter}" class="form-check-input " placeholder="Enter The Value" value="Less Than"> <label for="Less${radioGroupCounter}">Less Than</label>
              </div>
              <div class="form-check">
                <input name="checkboxinput${radioGroupCounter}" type="radio" id="Greater${radioGroupCounter}" class="form-check-input " placeholder="Enter The Value" value="Greater Than"> <label for="Greater${radioGroupCounter}">Greater Than</label>
              </div>
              <div class="form-check">
                <input name="checkboxinput${radioGroupCounter}" type="radio" id="Equal${radioGroupCounter}" class="form-check-input " placeholder="Enter The Value" value="Equal"> <label for="Equal${radioGroupCounter}">Equal</label>
              </div>
              <input type="${type}" class="form-control checkboxinput" placeholder="Enter The Value">
              <input name="dynamicRule" type="hidden">
            </div>
          `;
        field.insertAdjacentElement("beforeEnd", rule);
        
      }
    }
  }

</script>


<script >
  const dropArea = document.querySelector(".drop-section");
const listSection = document.querySelector(".list-section");
const listContainer = document.querySelector(".list");
const fileSelector = document.querySelector(".file-selector");
const fileSelectorInput = document.querySelector(".file-selector-input");

// upload files with browse button
fileSelector.onclick = () => fileSelectorInput.click();
fileSelectorInput.onchange = () => {
  [...fileSelectorInput.files].forEach((file) => {
    if (typeValidation(file.type)) {
      uploadFile(file);
    }
  });
};

// check the file type
function typeValidation(type) {
  var splitType = type.split("/")[0];
  if (type == "application/pdf") {
    return true;
  }
}

// when file is over the drag area
dropArea.ondragover = (e) => {
  e.preventDefault();
  [...e.dataTransfer.items].forEach((item) => {
    if (typeValidation(item.type)) {
      dropArea.classList.add("drag-over-effect");
    }
  });
};
// when file leave the drag area
dropArea.ondragleave = () => {
  dropArea.classList.remove("drag-over-effect");
};
// when file drop on the drag area
dropArea.ondrop = (e) => {
  e.preventDefault();
  dropArea.classList.remove("drag-over-effect");
  if (e.dataTransfer.items) {
    [...e.dataTransfer.items].forEach((item) => {
      if (item.kind === "file") {
        const file = item.getAsFile();
        if (typeValidation(file.type)) {
          uploadFile(file);
        }
      }
    });
  } else {
    [...e.dataTransfer.files].forEach((file) => {
      if (typeValidation(file.type)) {
        uploadFile(file);
      }
    });
  }
};

// Array to store uploaded files
let queuedFiles = [];

// Upload file function
function uploadFile(file) {
  listSection.style.display = "block";
  var li = document.createElement("li");
  li.classList.add("in-prog");
  li.innerHTML = `
        <div class="col">
            <img src="icons/${iconSelector(file.type)}" alt="">
        </div>
        <div class="col">
            <div class="file-name">
                <div class="name">${file.name}</div>
                <span></span>
            </div>
            <div class="file-size">${(file.size / (1024 * 1024)).toFixed(
              2
            )} MB</div>
        </div>
        <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" class="cross" height="20" width="20"><path d="m5.979 14.917-.854-.896 4-4.021-4-4.062.854-.896 4.042 4.062 4-4.062.854.896-4 4.062 4 4.021-.854.896-4-4.063Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="tick" height="20" width="20"><path d="m8.229 14.438-3.896-3.917 1.438-1.438 2.458 2.459 6-6L15.667 7Z"/></svg>
        </div>
    `;
  listContainer.prepend(li);

  // Create FormData object and append necessary fields
  var data = new FormData();
  data.append("documents", file);
  // Add file to queued files
  queuedFiles.push({ file: file, formData: data, listItem: li });

  // Set up remove handler
  li.querySelector(".cross").onclick = () => {
    // Remove file from queuedFiles array
    const index = queuedFiles.findIndex((item) => item.file === file);
    if (index !== -1) {
      queuedFiles.splice(index, 1);
    }
    // Remove the list item from the DOM
    li.remove();
  };
  console.log(queuedFiles);
}

// Submit button click handler
document.querySelector("#submitBtn").addEventListener("click", (event) => {
  const checkboxinputs = document.querySelectorAll(".checkboxinput");
    if (checkboxinputs){
      checkboxinputs.forEach((checkboxinput) => {
        const checkboxdiv = checkboxinput.parentElement;
        const radios = checkboxdiv.querySelectorAll("input[type='radio']");
        radios.forEach((radio) => {
          if (radio.checked) {
            checkboxdiv.querySelector("input[name='dynamicRule']").value = `${checkboxinput.value},${radio.value}`;
          }
        });
      });
    }
    event.preventDefault(); // Prevent default form submission
    const options = document.querySelectorAll('.option');
    options.forEach(option => {
        option.parentElement.parentElement.children[0].value = option.parentElement.parentElement.children[0].value + ',' + option.parentElement.children[0].value;
    });

    var name = document.querySelector("#name").value;
    var description = document.querySelector("#description").value;
    var dynamicStages = document.querySelectorAll("[name=dynamicStage]");
    var dynamicFields = document.querySelectorAll("[name=dynamicField]");
    var dynamicRules = document.querySelectorAll("[name=dynamicRule]");
        
    

    var allData = new FormData();
    allData.append("name", name);
    allData.append("description", description);
    
    queuedFiles.forEach((queuedFile) => {
        allData.append("document", queuedFile.file);
    });
    dynamicStages.forEach((e)=>{
      allData.append("dynamicStage",e.value);
    })
    dynamicFields.forEach((e)=>{
      allData.append("dynamicField",e.value);
    })
    dynamicRules.forEach((e)=>{
      allData.append("dynamicRule",e.value);
    })

    var http = new XMLHttpRequest();
    http.onload = () => {
        console.log("Files uploaded successfully");
        queuedFiles = [];
        document.querySelector(".list").innerHTML = "";
        window.location.href=`/client-detail/{{product.client.id}}`;
    };
    const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

    http.open("POST", `/edit_product/{{product.id}}`, true);
    http.setRequestHeader("X-CSRFToken", csrftoken);
    http.send(allData);
});


// Helper function to get CSRF token from cookie
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

// find icon for file
function iconSelector(type) {
  var splitType =
    type.split("/")[0] == "application"
      ? type.split("/")[1]
      : type.split("/")[0];
  return splitType + ".png";
}

</script>


{% endblock %}
