{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OpenLayers Cluster Example</title>
  <script src="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/ol.css' %}">
  <style>
    #map {
      width: 100%;
      height: 100vh;
    }
  </style>
</head>
<body>
  
  <div id="map"></div>

  <script>
    var Feature = ol.Feature;
    var Map = ol.Map;
    var Point = ol.geom.Point;
    var View = ol.View;
    var CircleStyle = ol.style.Circle;
    var Fill = ol.style.Fill;
    var Stroke = ol.style.Stroke;
    var Style = ol.style.Style;
    var Text = ol.style.Text;
    var Cluster = ol.source.Cluster;
    var OSM = ol.source.OSM;
    var VectorSource = ol.source.Vector;
    var TileLayer = ol.layer.Tile;
    var VectorLayer = ol.layer.Vector;
    var boundingExtent = ol.extent.boundingExtent;

    const distanceInput = {value: 40};
    const minDistanceInput = {value: 20};

    const count = 20000;
    const features = new Array(count);
    const e = 4500000;
    for (let i = 0; i < count; ++i) {
      const coordinates = [2 * e * Math.random() - e, 2 * e * Math.random() - e];
      features[i] = new Feature(new Point(coordinates));
    }

    const source = new VectorSource({
      features: features,
    });

    const clusterSource = new Cluster({
      distance: parseInt(distanceInput.value, 10),
      minDistance: parseInt(minDistanceInput.value, 10),
      source: source,
    });

    const styleCache = {};
    const clusters = new VectorLayer({
      source: clusterSource,
      style: function (feature) {
        const size = feature.get("features").length;
        let style = styleCache[size];
        if (!style) {
          style = new Style({
            image: new CircleStyle({
              radius: 10,
              stroke: new Stroke({
                color: "#fff",
              }),
              fill: new Fill({
                color: "#3399CC",
              }),
            }),
            text: new Text({
              text: 'hi',
              fill: new Fill({
                color: "#fff",
              }),
            }),
          });
          styleCache[size] = style;
        }
        return style;
      },
    });

    const raster = new TileLayer({
      source: new OSM(),
    });

    const map = new Map({
      layers: [raster, clusters],
      target: "map",
      view: new View({
        center: [0, 0],
        zoom: 2,
      }),
    });

   

    map.on("click", (e) => {
      const clickedFeatures = map.getFeaturesAtPixel(e.pixel);
      if (clickedFeatures.length) {
        // Get clustered Coordinates
        const features = clickedFeatures[0].get("features");
        if (features.length > 1) {
          const extent = boundingExtent(
            features.map((r) => r.getGeometry().getCoordinates())
          );
          map.getView().fit(extent, { duration: 1000, padding: [50, 50, 50, 50] });
        }
      }
    });

    var data = {{ postcodes }};
    console.log(data);
  </script>
</body>
</html>
