{% extends "base.html" %}
{% load static %}
{% block css %}

<style>
  .suggestiondrag, .archivesuggestiondrag {
  cursor: move;
}

.suggestiondrag.dragging, .archivesuggestiondrag.dragging {
  opacity: .5;
}
</style>

{% endblock %}
{% block search %}

<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="myInput" />

{% endblock %}

{% block content %}


<div class="container-fluid" style="max-width:1500px">
  
  <div class="row">
    <div class="col-lg-12 d-flex align-items-stretch w-100">
      <div class="card w-100 p-0">
        <div class="card-body row m-0 p-3 ">
          <a href="{% url 'app:suggestion' %}?page=New" class="col fs-5">New</a>
          <a href="{% url 'app:suggestion' %}?page=Not Started" class="col fs-5">Not Started</a>
          <a href="{% url 'app:suggestion' %}?page=In Progress" class="col fs-5">In Progress</a>
          <a href="{% url 'app:suggestion' %}?page=Complete" class="col fs-5">Complete</a>
          <a href="{% url 'app:suggestion' %}?page=Paused" class="col fs-5">Paused</a>
          <a href="{% url 'app:suggestion' %}?page=Rejected" class="col fs-5">Rejected</a>
          <a href="{% url 'app:suggestion' %}?page=Archive" class="col fs-5">Archive</a>
        </div>
      </div>
    </div>
    

  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">

          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}

          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">

            <div class="mb-3 mb-sm-0">
              <a href="#">
                <h5 class="card-title fw-semibold text-primary text-decoration-underline">Suggestion</h5>
              </a>
            </div>
          </div>
      
          <div>
            <table class="table">

              <thead>
                <tr>
                  <th>Date</th>
                  <th>Suggestion</th>
                  <th>Status</th>
                  <th>Location</th>
                  <th>File</th>
                  <th>Requester</th>
                  <th>Archive</th>
                </tr>
              </thead>
              <tbody class="suggestion-container">
                {% if suggestions %}
                {% for suggestion in suggestions %}
                <tr class="suggestiondrag" data-suggestion-id="{{ suggestion.id }}" draggable="true" 
                style="
                {% if suggestion.status == 'Completed' %}
                  background-color: #d4edda;
                {% elif suggestion.expected_completion_date %}
                  {% if suggestion.expected_completion_date < current_date_time %}
                    background-color: #f8d7da;
                  {% elif suggestion.expected_completion_date <= yesterday %}
                    background-color: #ffd493;
                  {% endif %}

                {% endif %}
                "
                >
                  <td style="width: 20%;">{{ suggestion.created_at }}</td>
                  <td style="width: 20%;"><a href="{% url 'app:detail_suggestion' suggestion.id %}"> {{ suggestion.type }} </a></td>
                  <td style="width: 10%;">{{ suggestion.status }}</td>
                  <td style="width: 10%;">{{ suggestion.location }}</td>
                  <td style="width: 10%;">
                    {% if suggestion.file %}
                    <a href="{{ suggestion.file.url }}" target="_blank" class="reform_btn">View</a>
                    {% else %}
                    No File
                    {% endif %}
                  </td>
                  <td style="width: 10%;">{{ suggestion.agent.first_name }} {{ suggestion.agent.last_name }}</td>
                  <td style="width: 10%;">
                    <a href="{% url 'app:archive_suggestion' suggestion.id %}?page={{ request.GET.page }}" class="reform_btn">Archive</a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="text-center display-flex align-items-center justify-content-center">
                  <td colspan="6" class="text-center">No Suggestion</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock content %}


{% block js %}

  <script>
    
      const container = document.querySelector('.suggestion-container');
      const draggables = document.querySelectorAll('.suggestiondrag');
      draggables.forEach(draggable => {
        let sent = false;

        draggable.addEventListener('dragstart', (e) => {
          e.stopPropagation();
          draggable.classList.add('dragging');
        });

        draggable.addEventListener('dragend', (e) => {
          e.stopPropagation();
          draggable.classList.remove('dragging');

          if (!sent) {
            const suggestions = document.querySelectorAll('.suggestiondrag');
            const order_suggestions = [];
            suggestions.forEach((suggestion, i) => {
              order_suggestions.push({
                suggestion: suggestion.dataset.suggestionId,
                order: i + 1
              });
            });

            fetch('/suggestion_order', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({ 'order_suggestions': order_suggestions })
            });

            sent = true;
          }
        });
      });

      container.addEventListener('dragover', e => {
        e.preventDefault();
        const afterElement = getDragAfterElement(container, e.clientY);
        const draggable = document.querySelector('.dragging');
        if (draggable && Array.from(draggables).includes(draggable)) {
          if (afterElement == null) {
            container.appendChild(draggable);
          } else {
            container.insertBefore(draggable, afterElement);
          }
        }
      });
      
      function getDragAfterElement(container, y) {
        const draggableElements = [...container.querySelectorAll('.suggestiondrag:not(.dragging)')];
        return draggableElements.reduce((closest, child) => {
          const box = child.getBoundingClientRect();
          const offset = y - box.top - box.height / 2;
          if (offset < 0 && offset > closest.offset) {
            return { offset: offset, element: child };
          } else {
            return closest;
          }
        }, { offset: Number.NEGATIVE_INFINITY }).element;
      }
  </script>

{% endblock js %}