# Byte-compiled Python files
*.pyc

db.sqlite3
reform_crm/*

# Secret key file
secret_key.txt

# Environment variables file (if you're using .env)
.env
.venv

# IDE/Editor specific files or directories
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Compiled Python bytecode
__pycache__/
*.py[cod]

# Log files
*.log

.DS_Store