annotated-types==0.6.0
APScheduler==3.10.4
asgiref==3.7.2
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==41.0.7
defusedxml==0.7.1
Django==5.0.1
django-allauth==0.58.1
django-apscheduler==0.7.0
django-bootstrap-datepicker-plus==5.0.5
django-cors-headers==4.3.1
django-extensions==3.2.3
django-formtools==2.5.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-tempus-dominus==5.1.2.17
django-two-factor-auth==1.17.0
django-widget-tweaks==1.5.0
et-xmlfile==1.1.0
fuzzywuzzy==0.18.0
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.6.0
googleapis-common-protos==1.63.0
gunicorn==21.2.0
httplib2==0.22.0
idna==3.6
lxml==5.2.2
numpy==1.26.3
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
phonenumbers==8.13.48
pillow==11.0.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
PyJWT==2.8.0
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2024.1
qrcode==7.4.2
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
simplegmail==4.1.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.1.0
psycopg2-binary==2.9.3
