
{% extends "base.html" %}
{% load static %}
{% load custom %}
{% block content %}
<style>
  .flex-container {
    display: flex;
    gap: 20px;
}

</style>

<div class="container-fluid" style="max-width:1500px">
  <!-- Row 1 -->
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
          
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}         
          
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            
            <div class="mb-3 mb-sm-0">
             <a href="{% url "security_app:s_client" %}"> <h5 class="card-title fw-semibold text-primary ">Security Client Management</h5></a>
            </div>

            
            <button type="button" class="reform_btn position-relative"  data-bs-toggle="modal" data-bs-target="#fundingroute">
              <i class="bi bi-arrow-bar-right"></i> Assign to Agent
            </button>
            
            <div class="modal fade" id="fundingroute" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Assign Clients to the Agents</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form method='post' action="{% url 'security_app:assign_agents'  %}">
                    {% csrf_token %}
                  <div class="modal-body flex-container">
                    <div class="mb-3">
                      <input
                        type="text"
                        id="clients"
                        placeholder="Select the Clients you wish to assign to the employees"
                        autocomplete="off"
                        name= "clients"
                      />
                       </div>
                    <div class="mb-3">
                      <input
                            type="text"
                            id="agents"
                            placeholder="Select the Employees you wish to assign to the clients"
                            autocomplete="off"
                            name= "agents"
                          />
                       </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="secondary_reform_btn" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="reform_btn">Submit</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
          
          <table class="table">
            
            <thead>
              <tr>
                <th >
                  Client
                </th>
                <th >
                  Assigned To
                </th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% if clients %}
              {% for client in clients %}
                <tr>
                  <td class="text-underlined" style="width: 20%; color:#024753"><a class="text-primary" href="/client-detail/{{client.id}}">{{ client.company_name }}</a></td>
                  <td style="width: 20%;">
                    {% for agent in client.assigned_to.all %}
                      <div>
                        <span class="badge bg-primary">{{ agent.first_name }} {{ agent.last_name }}</span>
                      </div>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="text-center display-flex align-items-center justify-content-center">
                <td colspan="6" class="text-center">No Clinets</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block js %}
  
<script type="module">
  jQuery(document).ready(function ($) {
    const options = []
    let clients = JSON.parse("{{ clients_list | escapejs }}");
    for (let i = 0; i < clients.length; i++) {
      options.push({
        id: i+1,
        title: clients[i].fields.company_name + ' - ' + clients[i].pk
      });
    }
    
    comboTree1 = $("#clients").comboTree({
      source: options,
      isMultiple: true,
      cascadeSelect: false,
      collapse: true,
      selectAll: true,
    });
  });

  
  jQuery(document).ready(function ($) {
    let agents = JSON.parse("{{ agents | escapejs }}");

    let comboSource2 = agents.map(agent => {
      return {
        id: agent.pk,
        title: agent.fields.first_name + ' ' + agent.fields.last_name + ' - ' + agent.pk
      };  
    });
    comboTree2 = $("#agents").comboTree({
      source: comboSource2,
      isMultiple: true,
      cascadeSelect: false,
      collapse: true,
      selectAll: true,
    });
  });

  
</script>




{% endblock js %}
