
.dropdown-menu{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}


.search-flight .input-row{
    margin: 10px;
}
.search-flight .input-row label{
    margin-bottom: 0;
    font-size: .9em;
    color: rgb(100,100,100);
}
.search-flight .dropdown-menu{
    top: auto;
    left: auto;
}



#city_from, #county_from, #country_form{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    cursor: pointer;
    max-height: 280px;
    overflow: auto;
    cursor: pointer;
}
.each_city_from_list, .each_county_from_list, .each_country_from_list{
    padding: 10px 15px;
    transition-duration: .2s;
}
.each_city_from_list:hover, .each_county_from_list:hover,
.each_country_from_list:hover{
    background-color: #f2f2f2;
}
.each_city_from_list:active, .each_county_from_list:active,
.each_country_from_list:active{
    background-color: #e5e5e5;
}
.places_box{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    max-height: 280px;
    min-height: fit-content;
}

::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

