{% extends "base.html" %} {% load static %} {% load custom %} {% block css %}

{% endblock %} {%block content%}

<div class="container-fluid" style="max-width: 1500px">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
          <div
            class="d-sm-flex d-block align-items-center justify-content-between mb-9"
          >
            <div class="mb-3 mb-sm-0">
                <h5
                  class="card-title fw-semibold text-primary text-decoration-underline"
                >
                  Emergency Contact
                </h5>
            </div>
          </div>
          <div>
            <form
              method="post"
              action="{% url 'hr_app:add_emergency_contact' emp.id %}"
            >
              {% csrf_token %}

              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="phno" class="form-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="phno"
                  name="phno"
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
              
              <button id="submitBtn" class="reform_btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block js %}


{% endblock %}
