{% extends "base.html" %} {% load static %} {% load custom %} {% block css %}

{% endblock %} {%block content%}

<div class="container-fluid" style="max-width: 1500px">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-strech w-100">
      <div class="card w-100">
        <div class="card-body">
          <div
            class="d-sm-flex d-block align-items-center justify-content-between mb-9"
          >
            <div class="mb-3 mb-sm-0">
                <h5
                  class="card-title fw-semibold text-primary text-decoration-underline"
                >
                  Basic Information
                </h5>
            </div>
          </div>
          <div>
            <form
              method="post"
              action="{% url 'hr_app:edit_basic_information' emp.id %}"
            >
              {% csrf_token %}

              <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  name="first_name"
                  value="{{ emp.first_name }}"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  value="{{emp.last_name}}"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" name="gender" id="gender">
                  <option {% if emp.employee_user.gender == male %}  selected {% endif %} value="male">Male</option>
                  <option {% if emp.employee_user.gender == female %}  selected {% endif %} value="female">Female</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="religion" class="form-label">Religion</label>
                <input
                  type="text"
                  class="form-control"
                  id="religion"
                  name="religion"
                  value="{{emp.employee_user.religion}}"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="nationality" class="form-label">Nationality</label>
                <input
                  type="text"
                  class="form-control"
                  id="nationality"
                  name="nationality"
                  value="{{emp.employee_user.nationality}}"
                  required
                />
              </div>

              <div class="mb-3">
    <label for="dob" class="form-label">Date of Birth</label>
    <input
      type="date"
      class="form-control"
      id="dob"
      name="dob"
      value="{{ emp_dob_formatted }}"
      required
    />
</div>

              <div class="mb-3">
                <label for="personal_email" class="form-label">Personal Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  id="personal_email"
                  name="personal_email"
                  value="{{emp.employee_user.personal_email}}"
                />
              </div>
              
              <div class="my-3">
                <label for="personal_phon" class="form-label">Personal Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="personal_phon"
                  name="personal_phon"
                  value="{{ emp.employee_user.personal_phon }}"
                  required
                />
              </div>
              
              <div class="my-3">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  value="{{ emp.employee_user.city }}"
                />
              </div>

              <div class="my-3">
                <label for="region" class="form-label">Region</label>
                <input
                  type="text"
                  class="form-control"
                  id="region"
                  name="region"
                  value="{{ emp.employee_user.region }}"
                />
              </div>

              <div class="my-3">
                <label for="country" class="form-label">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="country"
                  name="country"
                  value="{{ emp.employee_user.country }}"
                />
              </div>

              <div class="my-3">
                <label for="postal_code" class="form-label">Postal Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="postal_code"
                  name="postal_code"
                  value="{{ emp.employee_user.postal_code }}"
                />
              </div>
              
              <button id="submitBtn" class="reform_btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block js %}


{% endblock %}
