<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reform CRM</title>
  <link rel="stylesheet" href="{% static "css/comboTreeStyle.css" %}" />
  <link rel="shortcut icon" type="image/png" href={% static "images/logos/favicon.png" %} />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href={% static "css/styles.min.css" %} />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/layout_style.css' %}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <style>
    .nav_link:hover, .navlink_icon:hover{
      background-color: #004652;
    }

    .new:hover{
      color: #000;
    }

    body{
      background-image: linear-gradient(#fff, #004652);
  background-attachment: fixed;
  margin: 0;
    }
    
    .sidebar-link:hover{
      color: #024753 !important;
    }

    .active .page-link{
      color: white !important;
      background-color: #024753 !important;
      border-color: #024753 !important;
    }


  
    .sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
      background-color: #024753 !important;
      color: white !important;
    }

    sidebar-link .active:hover, sidebar-link .active:focus {
      background-color: #024753 !important;
      color: white !important;
    }

    .nav-link{
      color: #024753 !important;
    }
    .text-primary{
      color: #024753 !important;
    }

  

  .disabled{
    opacity: 0.5;
    pointer-events: none;
  }


  .secondary_reform_btn{
    width: fit-content;
  padding: 10px 15px;
  border: none;
  background-color: #7ad1a1;
  color: black;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .reform_btn{
    width: fit-content;
  padding: 10px 15px;
  border: none;
  background-color: #024753;
  color: white;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reform_btn:hover{
  background-color: #024753;
  color: white;
}

.secondary_reform_btn:hover{
  background-color: #7ad1a1;
  color: black;
}

i{
  font-size:20px;
}

.sidebar{
  padding-top: 20px;
}
#myInput{
  background-color: #fff;
}

  </style>
  {% block css %}
  {% endblock %}
</head>

<body>
  <!--  Body Wrapper -->
  <div>
    
    <nav class="sidebar">
        <div class="menu_content ">
          <div class="bottom_content">
                <div class="bottom expand_sidebar">
                    <span> </span>
                    <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="bottom collapse_sidebar">
                    <span> </span>
                    <i class='bx bx-chevrons-left'></i>
                </div>
            </div>
            <div class="logo_item">
                <i class="bx bx-menu" id="sidebarOpen"></i>
                <img class="full_logo" src="{% static 'images/logos/reform_full logo_gradient.png' %}" style="height: 50px; width:200px;" alt=""/>
                <img class="logo" src="{% static 'images/logos/reform_favicon_green.png' %}" style="height: 50px; width:50px; margin-left:15px; display:none;" alt=""/>
            </div>
            <ul class="menu_items">
                <div class="menu_title menu_home"></div>
                {% if request.user.dashboard %}
                <li class="item">
                    <a href="{% url 'dashboard_app:dashboard' %}" class="nav_link">
                        <span class="navlink_icon">
                            <i class="bx bxs-magic-wand"></i>
                        </span>
                        <span class="navlink">Dashboard</span>
                    </a>
                </li>
                {% endif %}
            </ul>

            <ul class="menu_items">
                <div class="menu_title menu_your_tabs"></div>
                
                {% if request.user.mcustomer %}
                <li class="item">
                    <div href="#" class="nav_link submenu_item">
                        <span class="navlink_icon">
                            <i class="bx bx-group"></i>
                        </span>
                        <span class="navlink">Customers</span>
                        <i class="bx bx-chevron-right arrow-left"></i>
                    </div>
                    <ul class="menu_items submenu">
                        {% if request.user.customer %}
                        <a href="{% url 'customer_app:customer' %}" class="nav_link sublink">Customer</a>
                        {% endif %}
                        {% if request.user.archive %}
                        <a href="{% url 'customer_app:archive' %}" class="nav_link sublink">Achive</a>
                        {% endif %}
                      </ul>
                    </li>
                    {% endif %}
                    
                {% if request.user.client %}
                <li class="item">
                  <a href="{% url 'client_app:client' %}" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bxs-user"></i>
                    </span>
                    <span class="navlink">Client</span>
                  </a>
                </li>
                {% endif %}
                
                {% if request.user.council %}
                <li class="item">
                  <a href="{% url 'region_app:council' %}" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bxs-location-plus"></i>
                    </span>
                    <span class="navlink">Region</span>
                  </a>
                </li>
                {% endif %}
                
                {% if request.user.globals %}
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="bx bx-world"></i>
                    </span>
                    <span class="navlink">Global</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
                  <ul class="menu_items submenu">
                    {% if request.user.product %}
                    <a href="{% url 'product_app:product' %}" class="nav_link sublink">Product</a>
                    {% endif %}
                    {% if request.user.funding_route %}
                    <a href="{% url 'funding_route_app:funding_route' %}" class="nav_link sublink">Funding Route</a>
                    {% endif %}
                    {% if request.user.CJ %}
                    <a href="{% url 'customer_journey_app:customer_journey' %}" class="nav_link sublink">Customer Journey</a>
                    {% endif %}
                    {% if request.user.QA %}
                    <a href="{% url 'question_actions_requirements_app:questions' %}" class="nav_link sublink">Question And Answers</a>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                
                {% if request.user.admin %}
                <li class="item">
                  <a href="{% url 'admin_app:admin' %}" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bx-key"></i>
                    </span>
                    <span class="navlink">Admin</span>
                  </a>
                </li>
                {% endif %}
                
                {% if request.user.finance %}
                <li class="item">
                  <a href="{% url 'app:finance' %}" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bx-dollar"></i>
                    </span>
                    <span class="navlink">Finance</span>
                  </a>
                </li>
                {% endif %}
                
                {% if request.user.hr %}
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="bx bx-bar-chart-square"></i>
                    </span>
                    <span class="navlink">HR</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
                  <ul class="menu_items submenu">
                    {% if request.user.h_dashboard %}
                    <a href="#" class="nav_link sublink">Dashboard</a>
                    {% endif %}
                    {% if request.user.h_employee %}
                    <a href="{% url 'hr_app:employee' %}" class="nav_link sublink">Employee</a>
                    {% endif %}
                    {% if request.user.h_timesheet %}
                    <a href="#" class="nav_link sublink">Timesheet</a>
                    {% endif %}
                    {% if request.user.h_emp_action %}
                    <a href="#" class="nav_link sublink">Employee Actions</a>
                    {% endif %}
                    {% if request.user.h_emp_notify %}
                    <a href="#" class="nav_link sublink">Employee Notification</a>
                    {% endif %}
                    {% if request.user.h_org_chart %}
                    <a href="#" class="nav_link sublink">Organizational Chart</a>
                    {% endif %}
                    {% if request.user.knowledge_base %}
                    <a href="#" class="nav_link sublink">Knowledge Base</a>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                
                {% if request.user.security %}
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="bx bx-check-shield"></i>
                    </span>
                    <span class="navlink">Security</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
                  <ul class="menu_items submenu">
                    {% if request.user.s_employee %}
                    <a href="{% url 'security_app:s_employee' %}" class="nav_link sublink">Employee</a>
                    {% endif %}
                    {% if request.user.s_role %}
                    <a href="{% url 'security_app:role' %}" class="nav_link sublink">Role</a>
                    {% endif %}
                    {% if request.user.s_client %}
                    <a href="{% url 'security_app:s_client' %}" class="nav_link sublink">Client</a>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                
                {% if request.user.suggestions %}
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="bx bx-check-shield"></i>
                    </span>
                    <span class="navlink">Suggestion Box</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
                  <ul class="menu_items submenu">
                    {% if request.user.new_suggestion %}
                    <button class="nav_link sublink new" style="border:none; background-color:transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">New</button>
                    
                    
                    {% endif %}
                    {% if request.user.suggestion %}
                    <a href="{% url 'app:suggestion' %}?page=In Progress" class="nav_link sublink">Suggestions</a>
                    {% endif %}
                  </ul>
                </li>
                {% endif %}
                
                
              </ul>
              <ul class="menu_items">
                <div class="menu_title menu_user"></div>
                <li class="ms-4">
                  <a class="nav-link nav-icon-hover drop2" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
              </li>
              <li class="item">
                <a href="{% url 'user:logout' %}" class="nav_link">
                  <span class="navlink_icon">
                    <i class="bx bx-log-out"></i>
                  </span>
                  <span class="navlink">Logout</span>
                </a>
              </li>
            </ul>
            
          </div>
        </nav>
        
        <div class="main_content" >
          <div class="row">
          <a href="#" onclick="goBack();" class="col-1">
            <span>
              <i class="bx bx-left-arrow-alt my-4 display-6"></i>
            </span>
          </a>
          <div class="col-7 pt-3">
          </div>
          <div class="col-3 pt-3">
          {% block search %}
          {% endblock search %}
          </div>
          </div>
          {% block content %}{% endblock content %}
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Suggestions/Error</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'app:add_suggestion' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-body">
                <div class="mb-3">
                  <label for="location" class="form-label">Tab</label>
                  <input type="text" class="form-control" id="location" name="location">
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">What type of issue?</label>
                  <input type="text" class="form-control" id="type" name="type">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Please decribe the issue</label>
                  <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="mb-3">
                  <label for="file" class="form-label">Upload file</label>
                  <input type="file" class="form-control" id="file" name="file">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="reform_btn">Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>

      const new_suggestion = document.querySelector('.new');
      new_suggestion.addEventListener('click', () => {
        document.getElementById('location').value = window.location.pathname;
      });

      function goBack() {
        window.history.back();
      }
    </script>
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src="{% static 'js/comboTreePlugin.js' %} " type="text/javascript"></script>

  {% block js %}
  
  {% endblock js %}

</body>

</html>