{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,300;0,400;0,600;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body>
    
    <!-- Logo Section -->
    <div class="logo-container">
        <img src="{% static '/images/logos/reform_full_logo_white.png' %}" alt="Reform Logo" class="logo-image">
    </div>

    <!-- Login Form Container -->
    <div class="login-container" id="login-form">
        <h2 class="login-title">Login</h2>
        <form class="login-form" action="{% url 'user:login' %}" method="POST">
            {% csrf_token %}
            <input type="email" id="email" name="email" class="login-input" placeholder="Email" required>
            <input type="password" id="password" name="password" class="login-input" placeholder="Password" required>
            <div class="login-actions">
                <button class="login-button">LOGIN</button>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
        </form>
    </div>

</body>
</html>
